[Unit]
Description=CR7 service.

[Service]
WorkingDirectory=/var/lib/cr7
Environment=NODE_ENV=production
ExecStart=/usr/bin/pnpm -w s start
Restart=always
RestartSec=500ms

[Install]
WantedBy=default.target
