[Unit]
Description=CR7 service.

[Service]
User=cr7
WorkingDirectory=/var/lib/cr7
Environment=NODE_ENV=production
ExecStart=/var/lib/cr7/bin/pnpm -w server start
Restart=always
RestartSec=500ms

[Install]
WantedBy=multi-user.target
